* {
  outline: 1px solid purple;
}
/*resets*/
div, section, article, ul, nav {
  height: 100%;
}
.ha {
  height: auto;
}
a{
  display: block;
  height: 100%;
  width: 100%;

}
/*valor*/
:root{
  --color-primario:#00ff00;
  --color-secundario:#ff0000;
  --color-link:#ff0000;
  --color-link-hover:#f00000;
  --altura-header:75px;
  --altura-section:100vh;
}

/*header*/
header{
  height: var(--altura-header);
}
figure{
  height: 100%;
  display: block;
}
figure img {
  display: block;
  margin: auto;
  height: 100%;
  width: auto;

}
nav ul{
  list-style-type: none;
}
nav ul li {height: 25px;}
nav ul li a{
  display: block;
  height: 100%;
  width: 100%;
}
/*body*/

#heroscreen, #info, #participantes, #ubicacion{
  height: var(--altura-section);
}
